<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Hello World!</title>
</head>
<body>
	<h1 th:inline="text">用户列表</h1>
	<div layout:fragment="content" class="container">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>编号</td>
					<td>用户名</td>
					<td>密码</td>
					<td>年龄 </td>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${lists.empty}">
					<td colspan="3">No messages</td>
				</tr>
				<tr th:each="user : ${lists}">
					<td th:text="${user.id}"></td>
					<td th:text="${user.name}"></td>
					<td th:text="${user.password}"></td>
					<td th:text="${user.age}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>